<div class="ui divided items">
    {{#each decks as |deck|}}
    <div class="item">
        <div class="middle aligned content">
            <div class="description">
                {{deck.name}} ({{deck.elo}})
            </div>
        </div>
        <div class="right floated">
            {{#link-to "decks.deck" deck.id class="ui primary basic icon button"}}
            <i class="angle right icon"></i>
            {{/link-to}}
        </div>
    </div>
    {{else}}
    <div class="ui info message">
        <div class="header">Aucun deck</div>
    </div>
    {{/each}}
</div>