<div class="ui divided items">
    {{#each games as |game|}}
    <div class="item">
        <div class="middle aligned content">
            <div class="description">
                {{game.deckA.name}} ({{game.scoreA}} - {{game.scoreB}}) {{game.deckB.name}}
            </div>
        </div>
        <div class="right floated">
            {{#link-to "games.game" game.id class="ui primary basic icon button"}}
            <i class="angle right icon"></i>
            {{/link-to}}
        </div>
    </div>
    {{else}}
    <div class="ui info message">
        <div class="header">Aucun match</div>
    </div>
    {{/each}}
</div>