<div class="ui top attached borderless menu">
    {{#ui-dropdown class="icon item"}}
    <i class="bars icon"></i>
    <div class="menu">
        {{#link-to "index" class="item"}}Accueil{{/link-to}}
        
        <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">Parties</span>
            <div class="menu">
                {{#link-to "games" class="item"}}Liste des parties{{/link-to}}
                {{#link-to "games.new" class="item"}}Nouvelle partie{{/link-to}}
            </div>
        </div>

        <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">Cartes</span>
            <div class="menu">
                <div class="item">Liste des cartes</div>
                <div class="item">Liste des extensions</div>
            </div>
        </div>

        <div class="item">
            <i class="dropdown icon"></i>
            <span class="text">Decks</span>
            <div class="menu">
                {{#link-to "decks" class="item"}}Liste des decks{{/link-to}}
                {{#link-to "decks.new" class="item"}}Nouveau deck{{/link-to}}
            </div>
        </div>
    </div>
    {{/ui-dropdown}}
    {{yield}}
</div>
