<div class="ui container">
    <div class="ui text menu">
        <div class="item">
            <h1>Liste des dekcks</h1>
        </div>
        <div class="right menu">
            <div class="item">
                {{#link-to "decks.new" class="ui primary icon button"}}
                <i class="plus icon"></i>
                Nouveau deck 
                {{/link-to}}
            </div>
        </div>
    </div>
    <hr class="ui divider"/> 
    {{#deck-list decks=model}}{{/deck-list}}
</div>