<div class="ui container">
    <div class="ui text menu">
        <div class="item">
            <h1>Nouveau deck</h1>
        </div>
        <div class="right menu">
            <div class="item">
                <button class="ui primary button {{if isValid " " "disabled "}}" {{action "save"}}>Valider</button>
            </div>
        </div>
    </div>
    <h1 class="ui divider"></h1>
    <div class="ui form">
        <div class="field">
            <label for="name">Nom</label>
            {{input type="text" name="name" value=name}}
        </div>
    </div>
</div>