<div class="ui container">
    <div class="ui text menu">
        <div class="item">
            <h1>Liste des parties</h1>
        </div>
        <div class="right menu">
            <div class="item">
                {{#link-to "games.new" class="ui primary icon button"}}
                <i class="plus icon"></i>
                Nouvelle partie 
                {{/link-to}}
            </div>
        </div>
    </div>
    <hr class="ui divider"/> 
    {{#game-list games=model}}{{/game-list}}
</div>