<div class="ui container">
    <div class="ui text menu">
        <div class="item">
            <h1>Nouvelle partie</h1>
        </div>
        <div class="right menu">
            <div class="item">
                <button class="ui primary button {{if isValid " " "disabled "}}" {{action "startGame"}}>Démarrer !</button>
            </div>
        </div>
    </div>
    <h1 class="ui divider"></h1>
    <div class="ui form">
        <div class="field">
            <label for="deckA">Deck #1</label>
            {{#ui-dropdown class="search selection" selected=deckA onChange=(action (mut deckA)) as |execute mapper|}}
            <div class="default text">Deck</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                {{#each decks as |deck|}}
                <div data-value="{{map-value mapper deck.id}}" class="item">
                    {{deck.name}}
                </div>
                {{/each}}
            </div>
            {{/ui-dropdown}}
        </div>
        <div class="field">
            <label for="deckB">Deck #2</label>
            {{#ui-dropdown class="search selection" selected=deckB onChange=(action (mut deckB)) as |execute mapper|}}
            <div class="default text">Deck</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                {{#each decks as |deck|}}
                <div data-value="{{map-value mapper deck.id}}" class="item">
                    {{deck.name}}
                </div>
                {{/each}}
            </div>
            {{/ui-dropdown}}
        </div>

    </div>
</div>