<div class="ui container">
    <div class="ui text menu">
        <div class="item">
            <h1>{{model.deckA.name}} vs {{model.deckB.name}}</h1>
        </div>
    </div>
    <h1 class="ui divider"></h1>
    <ul>
        <li>Score : {{model.scoreA}} - {{model.scoreB}}</li>
        <li>Gagnant : {{winner.name}}</li>
        <li>{{moment-format model.date '[Le] DD/MM/YYYY [à] HH:mm'}}</li>
    </ul>
</div>