<div class="ui fluid container">
    {{#if gameOver}}
    <div class="ui info message">
        <div class="header">{{winner.name}} à gagné !</div>
        <div class="ui vertical segment">
            <div class="ui buttons">
                <div class="ui teal button" {{action "reset"}}>Continuer</div>
                <div class="or"></div>
                <div class="ui positive button" {{action "save"}}>Terminer</div>
                <div class="or"></div>
                <div class="ui negative button" {{action "discard"}}>Abandonner</div>
            </div>
        </div>
    </div>
    {{/if}}
    <div class="ui two column grid">
        <div class="column">
            <h2 class="ui dividing header centered">{{model.deckA.name}} - {{counterA.wins}}</h2>
            <div class="ui two cards">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">
                            Points de vie : {{counterA.hp}}
                        </div>
                    </div>
                    <div class="content">
                        <div class="ui basic fluid buttons">
                            <button class="ui button" {{action "update" "counterA" "hp" -5}}>-5</button>
                            <button class="ui button" {{action "update" "counterA" "hp" -1}}>-1</button>
                            <button class="ui button" {{action "update" "counterA" "hp" 1}}>+1</button>
                            <button class="ui button" {{action "update" "counterA" "hp" 5}}>+5</button>
                        </div>
                    </div>
                </div>
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">
                            Empoisonement : {{counterA.poison}}
                        </div>
                    </div>
                    <div class="content">
                        <div class="ui basic fluid buttons">
                            <button class="ui button" {{action "update" "counterA" "poison" -5}}>-5</button>
                            <button class="ui button" {{action "update" "counterA" "poison" -1}}>-1</button>
                            <button class="ui button" {{action "update" "counterA" "poison" 1}}>+1</button>
                            <button class="ui button" {{action "update" "counterA" "poison" 5}}>+5</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <h2 class="ui dividing header centered">{{model.deckB.name}} - {{counterB.wins}}</h2>
            <div class="ui two cards">
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">
                            Points de vie : {{counterB.hp}}
                        </div>
                    </div>
                    <div class="content">
                        <div class="ui basic fluid buttons">
                            <button class="ui button" {{action "update" "counterB" "hp" -5}}>-5</button>
                            <button class="ui button" {{action "update" "counterB" "hp" -1}}>-1</button>
                            <button class="ui button" {{action "update" "counterB" "hp" 1}}>+1</button>
                            <button class="ui button" {{action "update" "counterB" "hp" 5}}>+5</button>
                        </div>
                    </div>
                </div>
                <div class="ui fluid card">
                    <div class="content">
                        <div class="header">
                            Empoisonement : {{counterB.poison}}
                        </div>
                    </div>
                    <div class="content">
                        <div class="ui basic fluid buttons">
                            <button class="ui button" {{action "update" "counterB" "poison" -5}}>-5</button>
                            <button class="ui button" {{action "update" "counterB" "poison" -1}}>-1</button>
                            <button class="ui button" {{action "update" "counterB" "poison" 1}}>+1</button>
                            <button class="ui button" {{action "update" "counterB" "poison" 5}}>+5</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>