<div class="ui container">
    <div class="ui text menu">
        <div class="item">
            <h1>{{model.name}}</h1>
        </div>
    </div>
    <h1 class="ui divider"></h1>
    <ul>
        <li>Elo : {{model.elo}}</li>
    </ul>
</div>