<div class="ui fluid container">
    <div class="ui three cards">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">Parties</div>
            </div>
            <div class="content">
                {{#game-list games=model.games}}{{/game-list}}
            </div>
        </div>
        <div class="ui fluid card">
            <div class="content">
                <div class="header">Decks</div>
            </div>
            <div class="content">
                {{#deck-list decks=model.decks}}{{/deck-list}}
            </div>
        </div>
    </div>
</div>